<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="mb-3">
                <h3>Login</h3>
            </div>
            <form [formGroup]="loginForm">
                <div class="mb-3">
                    <label>Email/Username</label>
                    <input type="email" class="form-control" placeholder="Enter Username" formControlName="email">
                    <span class="text-danger" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched">Enter Valid Email</span>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
                    <span class="text-danger" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched">Enter Valid Email</span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" (click)="login(loginForm)" [disabled]="!loginForm.valid">Login</button>
                    <hr>
                    <p class="text-center mb-0">If you do not have an account <a routerLink="/register">Register Now</a></p>
                </div>
            </form>
        </div>
    </div>
</div>